---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BitFieldColonSpacing: Both
BraceWrapping:
  BeforeLambdaBody: true
  IndentBraces: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBraces: Attach
ColumnLimit: 0
CompactNamespaces: false
Cpp11BracedListStyle: true
DeriveLineEnding: false
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
FixNamespaceComments: true
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentRequiresClause: false
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertBraces: false
InsertTrailingCommas: None
LambdaBodyIndentation: Signature
PointerAlignment: Left
ReferenceAlignment: Pointer
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: true
SpacesInAngles: Always
SpacesInConditionalStatement: true
SpacesInParentheses: true
SpacesInCStyleCastParentheses: true
SpacesInSquareBrackets: true
SortIncludes: Never
TabWidth: 4
UseTab: Always